.login-page {
    padding: 10px;
    .form {
        margin-top: 50px;
    }

    .login-button {
        background: #ffc34b;
    }

    .facebook-login-button {
        background: #3861a2;
        color: white;
    }

    .around-button {
    }

    button {
        border: none;
        width: 100%;
        padding: 10px;
        border-radius: 1.5px;
    }

    .help-text {
        color: #868686;
        text-align: center;

        a {
            color: #868686;
        }
    }
}
