.main-page {
	:global {
		@import '../../styles/common';
		.main-nav {
			height: _rem(68);
			border: solid 0.5px #979797;
		}
		.hash-tag {
			font-size: _rem(20);
		}
		.show-result {
			background-color: blue;
			float: right;
			padding: 0;
			border: 0;
			font-size: _rem(14);
		}
		.img {
			width: _rem(320);
			height: _rem(374);
			background: #7F7F7F;
		}
		.select-btns-wrapper {
			button {
				font-size: _rem(14);
			}
		}
		.nav-btns-wrapper {
			button {
				font-size: _rem(12);
			}
		}
	}
}

