.input-wrap {
    .input {
        width: 100%;
        padding: 7.5px 11px;
        border: solid 0.5px #d8d8d8;
        border-radius: 1.5px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    .input::placeholder {
        color: #d8d8d8;
    }
}
