@import "styles/base/fonts";
:global {
    @import "styles/common";
    @import "styles/base/peeker-icon";
    .app {
        max-width: _rem(360);
        height: 100vh;
        margin: 0 auto;
        border: 1px solid red;
        position: relative;
        background-color: #f2f2f2;

        [class*="page"] {
            width: 100%;
            height: 640px;
            overflow-y: scroll;
            overflow-x: hidden;
<<<<<<< HEAD
            padding-bottom: 70px;
=======
>>>>>>> 56502821d88969d2c0b0bc451a78cc298512d151
        }
    }
}
