@import 'styles/base/fonts';
:global {
	@import "styles/common";
	@import 'styles/base/peeker-icon';
	.app {
		max-width: _rem(360);
		height: _rem(640);
		margin: 0 auto;
		border: 1px solid red;
		position: relative;
		background-color: #f2f2f2;
	}
}

