/**
 *  Default Fonts
 */
@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 300;
	src: url('assets/fonts/Gotham/Gotham-Book.woff2') format('woff2'),
	url('assets/fonts/Gotham/Gotham-Book.woff') format('woff'),
	url('assets/fonts/Gotham/Gotham-Book.otf') format('opentype');
}

@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	src: url('assets/fonts/Gotham/Gotham-Medium.woff2') format('woff2'),
	url('assets/fonts/Gotham/Gotham-Medium.woff') format('woff'),
	url('assets/fonts/Gotham/Gotham-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 700;
	src: url('assets/fonts/Gotham/Gotham-Bold.woff2') format('woff2'),
	url('assets/fonts/Gotham/Gotham-Bold.woff') format('woff'),
	url('assets/fonts/Gotham/Gotham-Bold.otf') format('opentype');
}
// @font-face {
// 	font-family: 'Gotham';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('assets/fonts/Gotham/Gotham-Medium.woff2') format('woff2'),
// 	url('assets/fonts/Gotham/Gotham-Medium.woff') format('woff'),
// 	url('assets/fonts/Gotham/Gotham-Medium.otf') format('opentype');
// }
// @font-face {
// 	font-family: 'AppleSDGothicNeo';
// 	font-style: normal;
// 	font-weight: 500;
// 	src: url('static/fonts/AppleSDGothicNeoM/AppleSDGothicNeoM.woff2') format('woff2'),
// 	url('static/fonts/AppleSDGothicNeoM/AppleSDGothicNeoM.woff') format('woff'),
// 	url('static/fonts/AppleSDGothicNeoM/AppleSDGothicNeoM.otf') format('opentype');
// // }
// @font-face {
// 	font-family: 'Gotham';
// 	font-style: normal;
// 	font-weight: 700;
// 	src: url('assets/fonts/Gotham/Gotham-Bold.woff2') format('woff2'),
// 	url('assets/fonts/Gotham/Gotham-Bold.woff') format('woff'),
// 	url('assets/fonts/Gotham/Gotham-Bold.otf') format('opentype');
// }



// @font-face {
// 	font-family: 'Gotham';
// 	font-style: normal;
// 	font-weight: 900;
// 	src: url('static/fonts/AppleSDGothicNeoEB/AppleSDGothicNeoEB.woff2') format('woff2'),
// 	url('static/fonts/AppleSDGothicNeoEB/AppleSDGothicNeoEB.woff') format('woff'),
// 	url('static/fonts/AppleSDGothicNeoEB/AppleSDGothicNeoEB.otf') format('opentype');
// }

/**
 *	Peeker
 */
@font-face {
  font-family: 'peeker';
  src:  url('assets/fonts/peeker/peeker.eot?b6mr2e');
  src:  url('assets/fonts/peeker/peeker.eot?b6mr2e#iefix') format('embedded-opentype'),
    url('assets/fonts/peeker/peeker.ttf?b6mr2e') format('truetype'),
    url('assets/fonts/peeker/peeker.woff?b6mr2e') format('woff'),
    url('assets/fonts/peeker/peeker.svg?b6mr2e#peeker') format('svg');
  font-weight: normal;
  font-style: normal;
}

